TrexEngine.sln
TrexEngine/TrexEngine.vcxproj
TrexEngine/TrexEngine.vcxproj.filters
TrexEngine/TrexEngine.vcxproj.user

SandBox/SandBox.vcxproj
SandBox/SandBox.vcxproj.filters
SandBox/SandBox.vcxproj.user

SandBox/Core_RuntimeLog.txt
SandBox/SandBox_RuntimeLog.txt

bin-in/
bin/Debug-windows-x86_64/
bin/Release-windows-x86_64/
.vs/    