TrexEngine.sln
TrexEngine/TrexEngine.vcxproj
TrexEngine/TrexEngine.vcxproj.filters
TrexEngine/TrexEngine.vcxproj.user

SandBox/SandBox.vcxproj
SandBox/SandBox.vcxproj.filters
SandBox/SandBox.vcxproj.user

ImGui/ImGui.vcxproj
ImGui/ImGui.vcxproj.filters
ImGui/ImGui.vcxproj.user

SandBox/*.txt

SandBox/imgui.ini

bin-in/
bin/Debug-windows-x86_64/
bin/Release-windows-x86_64/
.vs/    